
/* Body Mods */
.mainBody {
    background-color: #630529;
    color: #630529;
    font-size: 20px;
    font-family: Calibri;
    text-align: center;
    border: 0px;
    box-shadow: inset 0 0 0 1000px white;
    
}

/* Head Mods */
h1 {
    color: white;
    font-size: 2.4em;
    font-family: "Lemon/Milk", sans-serif;
    padding: 30px 0;
    border: 3px solid black;
    text-align: center;
    background-clip: content-box; /* <---- */
    box-shadow: inset 0 0 0 70px #630529;
    margin-left: 60px;
    margin-right: 60px;
    text-shadow: 5px 5px black;
}
.navitem {
    color: black;
    font-size: 1.6em;
    font-family: "Lemon/Milk", sans-serif;
    text-align: center;
}

/* Class & ID Mods */
.contentAlign {
    font-family: Arial;
    padding: 10px;
    border: 3px solid black;
    margin-left: 60px;
    margin-right: 60px;
}

.lists {
    text-align: left;
    padding-left: 30px;
}

.link-box{
    padding: 10px;
    border: 3px solid black;
    margin-left: 10px;
    margin-right: 10px;
    color: inherit;
    text-decoration: inherit;
    border-radius: 15px;
    font-family: "Lemon/Milk", sans-serif;
}

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}